html, body {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    color: white;
    font-family: Consolas, monaco, monospace;
}

#container {

}

.loading-overlay-p1 {
    position: absolute;

    top: 0px;
    left: 0px;
    right: 0px;
    height: 50vh;

    z-index: 5;
}

.loading-overlay-p2 {
    position: absolute;

    top: 50vh;
    left: 0px;
    right: 0px;
    height: 50vh;

    z-index: 5;
}

.menu-button {
    position: absolute;

    top: 50vh;
    margin-top: -25px;
    left: 0px;
    width: 50px;
    height: 50px;

    background-color: #1F1F21;

    z-index: 20;

    text-align: center;
}

.menu-button a {
    text-decoration: none;
    color: white;
    font-size: 32px;
}

.menu-button a:hover {
    color: white;
}

.menu-button a:visited {
    color: white;
}

.player {
    width: 100vw;
    height: 50vh;

    position: absolute;
}

.red {
    background: linear-gradient(#FF5E3A, #FF2A68);
}

.blue {
    background: linear-gradient(#1AD6FD, #1D62F0);
}

.green {
    background: linear-gradient(#87FC70, #0BD318);
}

.white {
    background: linear-gradient(#FFDB4C, #FFCD02);
}

.black {
    background: linear-gradient(#4A4A4A, #2B2B2B);
}

.rotate {
    transform: rotate(-180deg);
}

.player-one {
    top: 0px;
    left: 0px;
}

.player-two {
    top: 50vh;
    left: 0px;
}

#menu {
    background-color: #1F1F21;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
}

.menu-item {
    font-size: 100px;

    transition: color 0.5s ease;
}

.menu-item svg {
    width: 100px;
    height: 100px;

    fill: white;

    transition: fill 0.5s ease;
}

.menu-item svg:hover {
    fill: #0099FF;
}

.menu-item:hover {
    color: #0099FF;
}

.dice-roll {
    position: absolute;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    z-index: 999;

    display: none;
}

.dice-roll .dice {
    width: 300px;
    height: 300px;

    position: absolute;

    top: 50%;
    left: 50%;

    margin-top: -150px;
    margin-left: -150px;

    fill: #FFF;

    display: none;
}

#dice1 {
    display: block;
}

.panel {
    position: fixed;
    left: -15.625em;
    width: 15.625em;

    z-index: 99;
}

.player-container {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.player-control {
    font: bold 100px/100px Consolas, monaco, monospace;
    margin-left: 50px;
    margin-right: 50px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.player-hp {
    font-size: 20vw;

    white-space: nowrap;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
